#top {
    position: relative;
    /*background-color: #008CBA;*/
    color: white;
    /* padding: 5px;*/
    margin: 0px 0px 0px 0px;
    /*right: 0;
    bottom: 0;
    left: 0;*/
    /*padding: 0.5rem;*/
    /*    background-color: #008CBA;
        color: #ffffff;
        padding: 2px;
        margin-left: 0px;
        margin-top:  0px;
        position: relative;
        right: 0;
        top: 0;
        left: 0;
        padding: 0.5rem;
        text-align: center;
        position:fixed;
        position: inherit;
        top:0px;*/
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.footer_content {
    background-color: #008CBA;
    color: #ffffff;
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1rem;*/
    font-size: 10.5px;
    text-align: center;
}

